/*
 * SPDX-FileCopyrightText: Linca and papilio-project
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@font-face {
    font-display: swap;
    font-family: 'Fusion Pixel 12px';
    font-style: normal;
    src: 
      url('/fonts/ofl/fusion-pixel/fusion-pixel-12px-proportional-latin.woff2') format("woff2"),
      url('/fonts/ofl/fusion-pixel/fusion-pixel-12px-proportional-zh_hans.woff2') format("woff2"),
      url('/fonts/ofl/fusion-pixel/fusion-pixel-12px-proportional-zh_hant.woff2') format("woff2"),
      url('/fonts/ofl/fusion-pixel/fusion-pixel-12px-proportional-ja.woff2') format("woff2"),
      url('/fonts/ofl/fusion-pixel/fusion-pixel-12px-proportional-ko.woff2') format("woff2");
}

html[default-font="fusion-pixel-12px"] {
    --font-sans: 'Fusion Pixel 12px', monospace;
}