/*
 * SPDX-FileCopyrightText: Linca and papilio-project
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@font-face {
    font-display: swap;
    font-family: 'Lexend';
    font-style: normal;
    src: url('/fonts/ofl/Lexend-VariableFont_wght.ttf') format("truetype");
}

html[default-font="lexend"] {
    --font-sans: 'Lexend', Roboto, Arial, sans-serif;
}